.header__logo {
  width: 104px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 28px 0 32px 30px;
  background-image: url(../../../images/logo-header-white.svg);
  transition: opacity .2s;
}

.header__logo:hover {
  opacity: .6;
}

@media screen and (min-width: 618px) {
  .header__logo {
    margin-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin: 45px 0 41px 0;
  }
}
