.footer {
  flex-shrink: 0; /* Липкий футер */
  display: flex;
  justify-content: flex-start;
  width: 282px;
}

@media screen and (min-width: 618px) {
  .footer {
    width: calc(282px * 2 + 17px);
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    width: 880px;
  }
}
