.form__input {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 0;

  margin: 30px auto 0;
  width: 260px;
  font-weight: 500;
  color: #fff;
  border-bottom: 2px solid #ccc;
  background-color: #000;

  padding-bottom: 13px;
}

.form__input:first-of-type {
  margin-top: 40px;
}

@media screen and (min-width: 618px) {
  .form__input {
    width: 358px;
  }
  .form__input:first-of-type {
    margin-top: 50px;
  }
}
